In [1]:
# libraries
import pandas as pd

In [3]:
# read waveform CSV
waveform_data = pd.read_csv('./target_waveform.csv', header=None)
waveform_data

,0,1,2,3,4,5,6,7,8,9,...,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502
0,D0118713C22A5ACF2A023B43E5A330DD,36A5E8E14388ACC5EE03423ABC1B235E,0.514,0.470,0.454,0.442,0.410,0.404,0.452,0.474,...,0.366,0.418,0.418,0.374,0.416,0.382,0.354,0.410,0.448,NaN
1,844AFC179C437B18627CC8B5CC58B1B9,14C015D113EDD99E1338327A185B207F,0.490,0.482,0.444,0.470,0.424,0.394,0.446,0.512,...,0.368,0.412,0.438,0.388,0.398,0.386,0.358,0.378,0.450,NaN
2,CA3EC82E44E9C89448C2E45A007661A0,0A3D1B9795F449F22045E6F4A7962FA5,0.440,0.504,0.458,0.478,0.432,0.404,0.414,0.464,...,0.372,0.352,0.408,0.406,0.360,0.420,0.376,0.348,0.410,NaN
3,819B8CAB5BCA028012133718A905081B,0410AEDD634637368A570914F9CCE661,0.476,0.494,0.454,0.478,0.440,0.392,0.436,0.468,...,0.372,0.366,0.418,0.392,0.368,0.398,0.360,0.350,0.430,NaN
4,0D350F158F8A3EA1F5FBF064DF111799,7B914986DA10EE675B569AF14FEDF7BD,0.482,0.436,0.426,0.424,0.390,0.374,0.440,0.468,...,0.362,0.420,0.408,0.378,0.428,0.378,0.354,0.412,0.452,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,832A2932C24B50B9C980A5E677D7975A,1939176D5CDA3531D973F2704A7D6C4A,0.512,0.486,0.450,0.478,0.440,0.400,0.450,0.516,...,0.372,0.422,0.412,0.390,0.404,0.386,0.346,0.374,0.454,NaN
96,8153F17CA20F93ED214B5D97E62EC20A,352EE6D037299A6906CA6C4C99E4A966,0.462,0.520,0.484,0.494,0.456,0.414,0.434,0.486,...,0.384,0.366,0.416,0.408,0.370,0.408,0.370,0.346,0.424,NaN
97,38B0B4F9B9F0CED9EB9CB0558FBD6985,616F6816354B12FD0FC1F36B783C0C88,0.488,0.448,0.438,0.432,0.406,0.384,0.454,0.476,...,0.364,0.422,0.412,0.382,0.428,0.386,0.352,0.406,0.456,NaN
98,7C7F329624CE00B23F0A05AF0001F3CD,9B0E8BEABD53ECA7E8715EE7348E6F81,0.510,0.504,0.462,0.482,0.434,0.412,0.460,0.506,...,0.366,0.410,0.416,0.380,0.394,0.380,0.350,0.370,0.450,NaN
99,32DCF6143BAF3B9E095B586CAA909A48,898554439AC2B296D93FB4782B79791F,0.486,0.444,0.436,0.442,0.390,0.392,0.446,0.474,...,0.364,0.422,0.416,0.382,0.422,0.372,0.340,0.428,0.454,NaN

In [8]:
# for 1 byte, find the corresponding key byte
def getByte(waveform, rowId, byteId):
    byte_str = "0x" + waveform.iloc[rowId, 0][byteId*2] + waveform.iloc[rowId, 0][byteId*2+1]  # "0x" required
    byte_value = int(byte_str, 16)
    
    return byte_value

In [10]:
getByte(waveform_data, 0, 1)

17